* {
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
header {
  background-color: darkgray;
  margin-bottom: 30px;
}
header nav {
  width: 960px;
  background-color:saddlebrown;
  margin: auto;
  display: flex;
}
nav a {
  font-size: 1.5rem;
  color: salmon;
}

nav a:hover {
  color: white;
}
main {
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main img {
  margin-bottom: 30px;
}
footer {
  background-color: saddlebrown;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}
ul {
  display: flex;
  margin: auto;
}
li {
  width: 150px;
}
article {
  /* background-color: lightgray; */
  height: 200px;
  width: 100%;
}
article  h2 {
  margin: 10px;
}
article  p {
  margin: 10px;
}
article  div { 
  border-radius: 5px;
  background-color: salmon;
  text-align: center;
  height: 25px;
  padding-top: 5px;
  width: 100px;
  margin: 10px;
} 
article div:hover {
  background-color: blue;
}

/* TABLE STYLES */

table, td, th {
  border: 1px solid rgb(112, 159, 165);
}
table {
  margin: 1rem;
}
td, th {
  padding: 1rem;
}
thead th {
  font-weight: bold;
}
tfoot {
  background-color: grey;
}

/* -- Form styles -- */
.form {
  /* background-color: black; */
  height: 350px;
  width: 100%;
}
fieldset {
  background-color: brown;
  border: 1px solid pink;
  width: 500px;
  margin: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 20px;
}
fieldset h1 {
  color: salmon;
}
legend {
  color: pink;
  font-size: 1.2rem;
  text-transform: uppercase;
}

textarea,
label,
input {
  display: block;
}

textarea,
input {
  margin-bottom: 1rem;
}